<!-- Footer Section Begin -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__logo">
            <a href="#"><img src="img/footer-logo.png" alt="" /></a>
          </div>
          <p>The customer is at the heart of our unique business model, which
            includes design.</p>
          <a href="#"><img src="img/payment.png" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
        <div class="footer__widget">
          <h6>Shopping</h6>
          <ul class="text-white">
            
            <li><a onclick="getSubProducts('Speaker')">Speaker</a></li>
            <li><a onclick="getSubProducts('TWS')">TWS</a></li>
            <li><a onclick="getSubProducts('Headphone')">Headphone</a></li>
            <li><a onclick="getSubProducts('Earphone')">Earphone</a></li>
            <li><a onclick="getSubProducts('Smart Band')">Smart Band</a></li>
            <li><a onclick="getSubProducts('Smart Watch')">Smart Watch</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer__widget">
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Payment Methods</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Return & Exchanges</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h6>NewLetter</h6>
          <div class="footer__newslatter">
            <p>Be the first to know about new arrivals, look books, sales &
              promos!</p>
            <form action="#">
              <input type="text" placeholder="Your email" />
              <button type="submit"><span class="icon_mail_alt"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="footer__copyright__text">

        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
