<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Check Out</h4>
          <div class="breadcrumb__links">
            <a href="./index.html">Home</a>
            <a href="./shop.html">Shop</a>
            <span>Check Out</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="checkout__form">
      <form action="#">
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <h6 class="coupon__code text-center fs-4">BILLING DETAILS</h6>

            <div class="dropdown mb-4">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Saved Addresses
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Address 1
                    <div
                      class="border-bottom address_items_dropdown text-secondary"
                    >Aysha's Meenchanda PO Arts College Calicut</div>
                  </a></li>
                <li><a class="dropdown-item" href="#">Address 2
                    <div
                      class="border-bottom address_items_dropdown text-secondary"
                    >Aysha's Meenchanda PO Arts College Calicut</div>
                  </a></li>
                <li><a class="dropdown-item" href="#">Address 3
                    <div
                      class="border-bottom address_items_dropdown text-secondary"
                    >Aysha's Meenchanda PO Arts College Calicut</div>
                  </a></li>
              </ul>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>First Name<span>*</span></p>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Last Name<span>*</span></p>
                  <input type="text" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Phone<span>*</span></p>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Email<span>*</span></p>
                  <input type="text" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Country<span>*</span></p>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>State<span>*</span></p>
                  <input type="text" />
                </div>
              </div>
            </div>
            <div class="checkout__input">
              <p>Address<span>*</span></p>
              <input
                type="text"
                placeholder="Street Address"
                class="checkout__input__add"
              />
              <input
                type="text"
                placeholder="Apartment, or Landmark (optional)"
              />
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Town/City<span>*</span></p>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Postcode / ZIP<span>*</span></p>
                  <input type="text" />
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-4 col-md-6">
            <div class="checkout__order">
              <h4 class="order__title">Your order</h4>
              <div class="checkout__order__products">Product
                <span>Total</span></div>
              <ul class="checkout__total__products">
                <li>01. Oneplus Power Bank <span>₹ 890</span></li>
                <li>02. Oneplus Smart Band<span>₹ 170.0</span></li>
                <li>03. Sony SRS-XB13 Speaker <span>₹ 170.0</span></li>
                <li>04. Oneplus Bullet Wireless Z <span>₹ 110.0</span></li>
              </ul>
              <ul class="checkout__total__all">
                <li>Items Price <span>₹750.99</span></li>
                <li>Coupon Discount<span
                    class="discount__price"
                  >₹750.99</span></li>
                <li class="fs-4">Total <span>₹750.99</span></li>
              </ul>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment_options"
                  id="razorpay"
                  value="razorpay"
                  checked
                />
                <label class="form-check-label" for="razorpay">
                  Razorpay
                </label>
              </div>

              <div class="form-check mt-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment_options"
                  id="paypal"
                  value="paypal"
                />
                <label class="form-check-label" for="paypal">
                  Paypal
                </label>
              </div>
              <div class="form-check mt-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment_options"
                  id="COD"
                  value="COD"
                />
                <label class="form-check-label" for="COD">
                  COD
                </label>
              </div>

              <button type="submit" class="site-btn mt-4">PLACE ORDER</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Checkout Section End -->