<div class="row mt-1 address-fields">
  <div class="col-md-6"><label class="labels">Country</label><input
      type="text"
      class="form-control"
      placeholder="enter address line 2"
      value=""
      disabled
    /></div>
  <div class="col-md-6"><label class="labels">State</label><input
      type="text"
      class="form-control"
      placeholder="enter address line 2"
      value=""
      disabled
    /></div>
  <div class="col-md-12"><label class="labels">Address</label><textarea
      class="form-control"
      placeholder="Address"
      cols="10"
      rows="3"
      style="resize: none; padding: 10px ; border-radius: 5px;"
      value=""
      disabled
    ></textarea></div>
  <div class="col-md-6"><label class="labels">Town/City</label><input
      type="text"
      class="form-control"
      placeholder="education"
      value=""
      disabled
    /></div>
  <div class="col-md-6"><label class="labels">Postcode</label><input
      type="text"
      class="form-control"
      placeholder="enter address line 2"
      value=""
      disabled
    /></div>
</div>
<div class="mt-5 text-center"><button
    class="btn btn-primary profile-button"
    type="button"
  >Save Profile</button></div>