<div class="container mt-3 mb-5 d-flex justify-content-center">
  <div class="signup__form" style="width: 550px;">
    <div class="row">
      <div class="col px-auto">
        <h6 class="coupon__code text-center fs-4">LOGIN</h6>
        <form action="#">

          <div class="row px-lg-5">
            <div class="col text-center">
              <div class="signup__input">
                <p>E-Mail<span>*</span></p>
                <input type="text" />
              </div>
            </div>
          </div>
          <div class="px-lg-5 text-center">
            <div class="signup__input">
              <p>Password<span>*</span></p>
              <input type="password" />
            </div>
          </div>
          <div class="px-lg-3">

            <div class="text-center">
              <p class="signup__links mb-0"><a href="">Forgot Password?</a></p>
              <button
                type="submit"
                class="btn btn-success create_account_btn mt-3"
              >Login</button>
              <h5 class="text-secondary mt-3">OR</h5>
            </div>
          </div>
        </form>
        <form action="" class="mb-5">
          <div class="row px-lg-5">
            <div class="col text-center">
              <div class="signup__input">
                <p>Phone<span>*</span></p>
                <input type="text" />
              </div>
            </div>

            <div class="text-center">
              <button
                type="submit"
                class="btn btn-secondary req_otp_btn"
              >Reguest OTP</button>
              <p class="signup__links mb-0"><a href="">Don't Have an Account?</a></p>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>